@font-face {
    font-family: vazir-bold;
    src: url(fonts/Vazir-Bold.woff);
    font-weight: 700
}

@font-face {
    font-family: vazir-light;
    src: url(fonts/Vazir-Light.woff)
}

@font-face {
    font-family: vazir-regular;
    src: url(fonts/Vazir-Regular.woff);
    font-weight: 400
}

.baackdrop-bluered {
    backdrop-filter: blur(2px) !important
}
.grid-container {
    overflow-x: auto; /* برای جلوگیری از بهم‌ریختگی در موبایل */
    padding: 8px;
}

.responsive-grid {
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
}

@media screen and (max-width: 600px) {
    .mud-table {
        font-size: 12px; /* کاهش اندازه فونت در موبایل */
    }

    .mud-button {
        font-size: 10px;
        padding: 4px;
    }
}
